// @use '~/sass/configs/variables.scss' as *;

.app-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 20;

  .content-wrapper {
    @extend %glass;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: $font-size-xl;
      line-height: 1em;
    }

    nav {
      ul {
        display: flex;

        li {
          display: block;
          padding: 10px;
          margin-left: 20px;
          cursor: pointer;
          @include borderRadius($medium-border-radius);
          @extend %defaultTransition;

          a {
            @extend %defaultTransition;
          }

          &:hover {
            background: rgba($color-primary, 0.05);

            a {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
