@use './variables.scss' as *;
@use './mixins.scss' as *;

%defaultTransition {
  @include transition($default-transition);
}

%userSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

%blinking {
  animation-name: blinking;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

%card {
  @include borderRadius($large-border-radius);
  @include boxShadow(0 0 15px rgba($color-primary-dark, 0.6));
  overflow: hidden;
}

%glass {
  background: $back-drop-color;  
  backdrop-filter: blur($back-drop-blur);
}
